$body-bg: #eeeeee;
$light: rgb(231, 231, 231);
$primary: #c83e49;
$secondary: #2a2a2a;
$danger: #b82d2d;
$success: rgb(46, 112, 46);
$warning: rgb(170, 179, 49);
$info: rgb(54, 86, 175);

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: rgb(255, 185, 185);
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
